.page-footer {
    background-color: #F2C94C;
    color: #25262A;

    position: fixed;
    bottom: 0;
    left: 0;

    z-index: 1000;

    width: 100vw;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

/* Mobile */
@media only screen and (max-width: 768px) {
    .page-footer {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
