.header-section {
  font-size: 20px;
  color: #6b6d72;
  margin: 20px 30px;
}

.header-title {
  float: left;
  padding-top: 15px;
}

.icon-section {
  font-size: 17px;
  float: right;
  padding-top: 19px;
  margin-right: 0;
}

.social-icon {
  padding: 0 10px;
}

a,
a:visited {
  color: #6b6d72;
}

a:hover {
  color: #25262a;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  .social-icon {
    padding: 0 7px;
  }
  .icon-section {
    font-size: 15px;
  }
}
