.speaker-intro {
  width: 80%;
  margin-bottom: 15vh;
}
.social-icons-contact:hover {
  color: white;
}
.speaker-container {
  text-align: center;
}

.speaker-name {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
}
.speaker-imagebox {
  border-radius: 50%;
  overflow: hidden;
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  border: 3px solid white;
}
.speaker-image {
  width: 100%;
}
.speaker-image-1 {
  width: 100%;
  margin-top: 30px;
}
.speaker-image-2{
  width:70%;
  margin-top: 50px;
  margin-left: -30%;
}
.main-container-speaker{
  padding-left: 150px;
}
.speaker-container-1{
  position: relative;
  left: 180%;
}
.speaker-container-2{
  position: relative;
  left: 160%;
}

.speaker-title {
  margin-top: 5px;
  font-size: 14px;
  line-height: 20px;
}

/* Swiper CSS for Speakers */
.speakers .speaker-container.inactive {
  opacity: 40%;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  .speaker-intro {
    width: 100%;
    margin-bottom: 10vh;
  }

  .speakers .speaker-container.inactive {
    opacity: 100%;
    
  }
  .speaker-imagebox{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  
}

@media (min-width:1600px) {
  .speaker-container-1{
    position: relative;
    left: 230%;
  }
  .speaker-container-2{
    position: relative;
    left: 210%;
  }
  
}

@media (max-width:1260px) {
  .speaker-container-1{
    position: relative;
    left: 110%;
  }
  .speaker-container-2{
    position: relative;
    left: 90%;
  }
  
}

@media (max-width:1024px) {
  .speaker-container-1{
    position: relative;
    left: 70%;
  }
  .speaker-container-2{
    position: relative;
    left: 50%;
  }
  
}

@media (max-width:768px) {
  .speaker-container-1{
    position: relative;
    left: 0%;
  }
  .speaker-container-2{
    position: relative;
    left: 0%;
  }
  .speaker-image-2{
    margin-left: 0px;
  }
  
}

