.speaker-intro {
    width: 80%;
    margin-bottom: 15vh;
}

.speaker-container {
    text-align: center;
}

.speaker-name {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 5px;
}

.speaker-image {
    width: 130px;
}

.speaker-title {
    margin-top: 5px;
    font-size: 14px;
    line-height: 20px;
}

/* Swiper CSS for Speakers */
.speakers .speaker-container.inactive {
    opacity: 40%;
}

/* Mobile */
@media only screen and (max-width: 768px) {
    .speaker-intro {
        width: 100%;
        margin-bottom: 10vh;
    }

    .speakers .speaker-container.inactive {
        opacity: 100%;
    }
}